* {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;

}

.active {
  background-color: rgba(255, 255, 0, 0.746);
}

.logo {
  width: 80px;
  margin-left: 10px;
}

nav ul li a:hover {
  background-color: rgb(248, 248, 60);
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.5rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}

.sidebar {
  background-color: aquamarine;
  width: 400px;
  height: 500px;
}

@media(max-width:480px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  .active {
    width: 8%;
  }
}

.heading {
  margin: auto;
  margin-top: 5%;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 0, 0.874);
}

.logo img {
  height: 70px;
  width: 100px;
  margin: 5px;
}

/* Carousel styling in the home page */
.carousel {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-top: 7%;
}

.carousel-button {
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;

}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-button:first-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.carousel-button:last-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.carousel-slide {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.carousel-image {
  width: 100%;
  height: 500px;
}

/* Product cart styling in home page */
.productCartContainer {
  display: flex;
  flex-wrap: wrap;
}

.cartContainer {
  width: 100%;
  padding-left: 30px;
  background-color: rgb(232, 232, 215);
}

.cartContainer h1 {
  text-align: center;
  padding: 30px;
}

.ProductCardDiv {
  border: 1px solid #ccc;
  background-color: rgb(253, 253, 245);
  border-radius: 8px;
  padding: 8px;
  /* margin: auto; */
  margin-bottom: 20px;
  margin-right: 20px;
  width: 250px;
}

.ProductCardDiv div {
  border: 1px solid #ccc;
}

.ProductCardDiv img {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}

.ProductCardDiv h3 {
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
  color: #333;
}

/* view all button */
.view-all-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-all-button button {
  padding: 10px;
  color: rgb(116, 186, 11);
  background-color: beige;
  border: none;
}

.view-all-button button:hover {
  color: black;
}

.Quick-Enquiry {
  text-align: center;
  margin-bottom: 10px;
}



/* paragraph styling in the home page */

.paraDiv {
  padding: 30px;
  background-color: rgb(250, 249, 247);
}

.paraDiv h1 {
  text-align: center;
  margin-bottom: 15px;
}

.paraDiv p {
  text-align: justify;
}


/* SideBar styling in home page */
.container {
  display: flex;
}

.box1 {
  background-color: rgb(8, 40, 8);
  width: 12%;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  width: 86%;
}

.box3 {
  background-color: rgb(8, 40, 8);
  width: 12%;
}

/* Footer styling in the Home page */
footer {
  background-color: rgb(5, 79, 5);
  padding: 50px;
  display: flex;
  margin: auto;
  gap: 25px;
  width: 100%;
}

.footer-section h3 {
  font-size: 18px;
  color: rgb(178, 173, 173);
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-section ul {
  /* list-style-type: none; */
  padding: 10px;
  color: #fff;
}

.footer-section ul li {
  margin-bottom: 15px;
}

.footer-section ul li a {
  color: rgb(178, 173, 173);
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-box1 {
  display: flex;
  gap: 50px;
}

.vertical-line {
  border-left: 1px solid white;
  height: 250px;
}

.section1,
.section2 {
  display: inline-block;
  width: 150px;
}

.img-div div {
  border: 5px solid black;
  display: inline-block;
  height: 155px;
  width: 155px;
}

.img-div img {
  height: 100%;
  width: 100%;
}


/* form  */

.form-container1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}


input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.phone-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-input input {
  width: calc(50% - 5px);
}


button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 35%;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.form-group1 {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group2 {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

}

.form-group3 {
  width: 47%;
  margin-bottom: 20px;

}

.container1 {
  display: flex;
}

/* about us css */
.container2 {
  display: flex;
}

/* Paragraph stuling in the aboutus page*/

.paragraph {
  width: 840px;
}

.paragraph p {
  margin-bottom: 20px;
  text-align: justify;
}

.aboutusContent {
  padding: 30px;
}
 /* Table styling  */
.cell1 {
  width: 350px;
  text-align: end;
  background-color: rgb(252, 252, 231);
}

.cell2 {
  width: 450px;
  background-color: #e7e4e4;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

/* Accodian design in the about us page */
.accordianDiv {
  background-color: rgb(247, 245, 242);
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 20px;
}

.accordianDiv hr {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: rgb(251, 168, 13);
}

.accordianDiv h3 {
  color: #09501a;
  margin-left: 10px;
}

.accordianDiv div {
  padding-left: 20px;
  padding: 10px;
  border-bottom: dotted 1px black;
}

.aboutusContentDiv {
  display: flex;
}


/* Contact Table styling */

.table-container table {
  border-collapse: collapse;
  width: 100%;
}

.table-container table tr {
  border-bottom: 1px solid #000;
}

.table-container table td {
  padding: 8px;
  text-align: center;
}

/* nav info */
.Nav-info {
  background-color: #28a745;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
  color: #fff;
}

.info-heading {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
  padding: 10px;
  width: 100%;
}

.info-button {
  padding: 6px;
  border-radius: 25px;
  border: none;
}


.footer-nav {
  display: flex;
  justify-content: end;
  width: 100%;
  background: url('../src/assets/Images/large-triangles\ \(2\).svg');
  padding: 20px;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-nav ul li {
  display: inline;
  margin-right: 20px;
}

.footer-nav ul li:last-child {
  margin-right: 0;
}

.footer-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}

.horiLine {
  width: 100%;
  padding-bottom: 20px;
  background: url('../src/assets/Images/large-triangles\ \(2\).svg');
}

.horiLine div {
  border-bottom: 1px dotted #fff;
}

.footer-content {
  /* background-color: green; */
  background: url('../src/assets/Images/large-triangles\ \(2\).svg');
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  color: #fff;
}


/* ContactUs styling in the aboutus page */

.ContactUsDiv {
  background-color: rgb(247, 245, 242);
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 20px;
  margin-top: 5px;
}

.ContactUsDiv hr {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: rgb(251, 168, 13);
}

.ContactUsDiv h3 {
  color: #09501a;
}

.ContactUsDiv h4 {
  color: #09501a;
}

.ContactUsDiv div {
  padding-left: 20px;
  padding: 10px;
  border-bottom: dotted 1px black;
}

/* contact us table design */
.ContactUsTable {
  margin: 0;
  background-color: rgb(251, 252, 235);
  padding: 20px;
}

.table {
  display: flex;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: dotted 1px black;
}

.icon {
  background-color: #000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.contactTableText {
  margin-left: 20px;
}

/* Form styling in the Contact page */

.form {
  padding: 50px;
  padding-top: 20px;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 500px;
  /* Updated width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  /* Allows the textarea to be vertically resizable */
}

button[type="submit"],
button[type="submit"]:last-of-type {
  background-color: rgb(251, 140, 5);
  color: rgb(249, 246, 246);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

button[type="submit"]:hover,
button[type="submit"]:last-of-type:hover {
  background-color: #134f09;
  /* Light yellow on hover */
}

.btn {
  display: flex;
}

.btn > * {
  margin-right: -150px; /* Yahan aap apni pasand ke anusaar spacing set kar sakte hain */
}

.btn > *:last-child {
  margin-right: 0;
}

.contact-container {
  display: flex;
  margin: 20px;
  margin-bottom: 40px;
  background-color: rgb(245, 240, 233);
  border: 1px solid #ccc;
}

/* breadcrumb styling */


.breadcrumbs{
  background: url('../src/assets/Images/repeating-triangles.svg');
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.breadcrumbs h2{
  color: #fff;
}

.link{
  color: #fff;
}

.breadcrumbs a{
text-decoration: none;
}
.breadcrumbs span::before {
  content: '>';
  margin: 0 5px;
  color: white;
}




